<nav class="navbar navbar-expand-md navbar-dark bg-blue navbar-fixed-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
            aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link " href="{% url 'webcook-home' %}">Главная</a>
                <a class="nav-item nav-link" href="{% url 'webcook-about' %}">О сайте</a>
            </div>
            <!-- Правая часть навигационной панели -->
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'recipe-create' %}">Новый рецепт</a>
                <a class="nav-item nav-link" href="{% url 'profile' %}">Профиль</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Выход</a>
                {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Вход</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Регистрация</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>